<div class="well">
  <h2>browse by genre</h2>
  <p>here, you can browse the library's collection by genre. there are currently <%= Genre.count %> genres to choose from. <%= link_to 'click here see the most popular genres.', '/genres/most_popular' %> </p> 
</div>

<div style='display: none;' class="genreContainer"></div>
    
<script>
$( document ).ready(function() {
	console.log('the script is running');
  	$.ajax({
    	url: "/genres.json"
		})
	  	.done(function(genres) {
	    	$.each(genres, function(key, genre){
	    		console.log(genre.books.length);
	    		$('.genreContainer').append(
	    			"<h4><a href='/genres/"+genre.id+"'>"+genre.name+" <span class='badge'>"+genre.books.length+"</span></a></td></h4>"
	    		);
	    		// $.each(genre.books, function(key, book){
	    		// 	$('.genreContainer').append(book.title+" - "+book.author+"<br>");
	    		// });
	    	});
	    	$('.genreContainer').fadeIn();
	    });
});
</script>
