<div class="well">
  <h2>browse by genre</h2>
  <p>here, you can browse the library's collection by genre. there are currently <%= Genre.count %> genres to choose from.</p> 
</div>

    
    <% @genres.each do |genre| %>
      <h3><%= link_to genre.name, genre %> <span class="badge"><%= genre.books.count %></span></a></td></h3>
    <% end %>
    

<br>
