<a href="#" class="nextGenre" data-id="<%=@genre.id%>">next genre</a>

<div id="genreContainer" class="well">
  <h2 id="genreName"></h2>
  <p id="genreBooks"></p>
</div>

<script>
genreShow();
</script>
