<a href="#" class="nextGenre" data-id="<%=@genre.id%>">next genre</a>

<div id="genreContainer" class="well">
  <h2 id="genreName"></h2>
  <p id="genreBooks"></p>
</div>



<script>

$(function() {

// sets the current genre
var currentGenreID = parseInt($(".nextGenre").attr("data-id"));

function displayGenre(jsonURL){
	$.get(jsonURL)
		.success(function(response) {
			$("#genreName").html(response.name);
			$("#genreBooks").html("");
			$.each(response.books, function(key, book){
				$("#genreBooks").append("<a href='/users/"+book.user_id+"/books/"+book.id+"'>"+
				book.title+" - "+book.author+"</a><br>");
		});
	});
}

displayGenre(window.location.pathname+".json");

	// $.get(window.location.pathname+".json")
	// 	.success(function(response) {
	// 		$("#genreName").html(response.name);
	// 		$.each(response.books, function(key, book){
	// 			$("#genreBooks").append("<a href='/users/"+book.user_id+"/books/"+book.id+"'>"+
	// 			book.title+" - "+book.author+"</a><br>");
	// 	});
	// });


$(".nextGenre").on("click", function(e) {
	e.preventDefault();
    currentGenreID++;
    displayGenre("/genres/" + currentGenreID + ".json");
});

});

</script>
