<div class="well">
  <h2>welcome</h2>
  <p>welcome to the nadir library, home of the best .epub format ebooks. there are currently <%= Book.count %> books in the library.</p> 
</div>

<%= render partial: "books/table", locals: {books: Book.all} %>f
