<div class="well">
  <h2><%= current_user.email %>'s books</h2>
  <p>this is your book collection.</p> 
</div>

<%= render partial: "table", locals: {books: @books} %>

<br>

<%= link_to 'upload a book', new_user_book_path %>
